@font-face {
   font-family: Joan;
   src: url("assets/fonts/Joan.ttf");
   font-weight: 100;
 }
 @font-face {
   font-family: Joan;
   src: url("assets/fonts/Joan.ttf");
   font-weight: 300;
 }